__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/*
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
*.so
.venv
uv.lock
rlinf/envs/maniskill/assets
pretrained_models/
*.sbatch
log_mbrl
.singularity_*
/.tmp_bin/
/.tmp_download_lpips.py
*.hdf5
*.zip
*.cache
*.npz